{% extends "main.html"%}
{% block title %}Addpost{% endblock %}
{% block pageContent %}
<form method="POST">
    <h3 align="center" style="margin-top: 70px">Add Post</h3>
    <div class="form-group">
        <label for="postText">Add Text</label>
        <textarea name="postText" id="postText" class="form-control" placeholder="What's in your mind" style="height:300px !important"></textarea>
    </div>
    <div class="form-group">
        <label for="img">Image</label>
        <input type="text" id="img" class="form-control" name="img" placeholder="Add an Image Url">
    </div>
    <div class="form-group">
        <label for="video">Video</label>
        <input type="text" id="video" class="form-control" name="video" placeholder="Add a Video Url">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Looks Good</button>
    </div>
</form>
{% endblock %}