{% extends "main.html"%}
{% block title %}Home{% endblock %}
{% block pageContent %}

<h3 align="center" style="margin-top: 70px">All Posts</h3>
<ul class="list-group list-group-flush" id="posts">
    {% for post in posts%}
    <li class="list-group-item">
        <div class="row no-gutters">
            <div class="col-6 col-md-4">
                {% if post.imgurl  %}
                <p> <img src={{post.imgurl}} alt="Girl in a jacket" width="350" height="250"></p>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{post.postTitle}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{post.postData}}</p>
                    </div>
                </div>
                <div style="text-align:right; margin-top:10px; font-size:small">
                    {% for user in users %}
                    {% if user.id==post.user_id %}
                        {{ "Posted by: "+ user.firstName+" "+user.lastName}}
                        <br/>
                        {{post.date.strftime('%D')}}

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </li>
    <br/>
    {% endfor %}
</ul>
{% endblock %}